<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="classes" thread-count="2">

    <test name="Sample Test">
<!--        <parameter name="waitTimeOutInSeconds" value="10"></parameter>-->
        <parameter name="browserName" value="Chrome"></parameter>

        <classes>
            <class name="TestStructurePrintForParallelExecution"/>
            <class name="TestStructurePrint"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNGListener"/>
        <listener class-name="utils.TestNGListenerForPrint"/>
    </listeners>

</suite>